# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
ENV/

# Environment variables (IMPORTANT)
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log